<body>
    <h1>Recomendaciones</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID Recomendación</th>
                <th>ID de Usuario</th>
                <th>Fecha</th>
                <th>Tipo de Recomendación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% recomendaciones.forEach(element => { %>
                <tr>
                    <td><%= element.recomendaciones_id %></td>
                    <td><%= element.user_id %></td>
                    <td><%= element.fecha %></td>
                    <td><%= element.tipo_recomendacion %></td>
                    <td>
                        <a href="/recomendacion/<%= element._id %>">Ver Detalles</a>
                        <a href="/recomendacion/edit/<%= element._id %>">Editar</a>
                        <a href="/recomendacion/delete/<%= element._id %>">Eliminar</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/recomendacion/create">Crear Nueva Recomendación</a>
</body>

