<div class="container py-5">
    <h1 class="text-center mb-4">Recomendaciones</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>ID Recomendaci贸n</th>
                        <th>ID de Usuario</th>
                        <th>Fecha</th>
                        <th>Tipo de Recomendaci贸n</th>
                        <th>Mensaje de recomendaci贸n</th>
                        <th>Nivel de prioridad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% recomendaciones.forEach(element => { %>
                        <tr>
                            <td><%= element.recomendaciones_id %></td>
                            <td><%= element.user_id %></td>
                            <td><%= new Date(element.fecha).toLocaleDateString() %></td>
                            <td><%= element.tipo_recomendacion %></td>
                            <td><%= element.mensaje_recomendacion %></td>
                            <td><%= element.nivel_prioridad %></td>
                            <td>
                                <a href="/recomendaciones/edit/<%= element._id %>" class="btn btn-warning btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>


                                <form action="/recomendaciones/<%= element._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-sm" >
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                        
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="text-end">
                <a href="/recomendaciones/create" class="btn btn-success">Crear Nueva Recomendaci贸n</a>
            </div>
        </div>
    </div>
</div>

